<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <label class="categoryPopupLabel" for="">
            <select class="select"  @click="showCategoryPopup = true"></select>
            <transition name="fade" appear>
                <div class="categoryPopupOverlay" v-if="showCategoryPopup" @click="showCategoryPopup = false"></div>
            </transition>
            <transition name="fade" appear>
                <div class="categoryPopup" v-if="showCategoryPopup">
                    <div class="categoryPopup__container">
                        <input
                            class="categoryPopup__container--input"
                            type="text"
                            v-model="searchQuery"
                        >
                        <ul class="categoryPopup__container--options">
                            <li
                                class="categoryPopup__container--options__item"
                                v-for="category in resultQuery"
                                :key="category.id"
                                :class="{ 'categoryPopup__container--options__item--selected': category.isSelected}"
                                @click="category.isSelected = !category.isSelected"
                            >
                                {{ category.name }}
                            </li>
                        </ul>
                        <div class="categoryPopup__container--buttons">
                            <button class="categoryPopup__container--buttons__save">
                                Сохранить
                            </button>
                            <button
                                class="categoryPopup__container--buttons__cancel"
                                @click="showCategoryPopup = false"
                            >
                                Отменить
                            </button>
                        </div>
                    </div>
                </div>
            </transition>
        </label>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>